body {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", sans-serif;
  background-color: #f5f5f7; 
}


header, footer {
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
}

.menu
{
  margin:10px;
  padding : 10px;
  background-color: #222222;
}

.menuselected
{
  margin:10px;
  padding : 10px;
  background-color: #464a68;
  border:medium solid #000000;
  font-weight: bold;

}

.menu a
{
  color:#ffffff;
  text-decoration: none; 
}

article
{
  padding: 20px;
}

section
{
  padding-top: 10px;
  padding-left: 20px;
}

td, th {
  padding: 10px;
}

li {
  margin-bottom: 10px;
}

.formorder
{
  padding: 10px;
}

#ordersheet
{
  padding: 20px;
  margin: 50px;
  background-color: #ffffff;
  border: thick double #c20000;
}